.hub-tips {
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
  border-radius: 2px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 3px;
  font-size: 13px;
  background: #ebebeb;
  color: #444;
  .hub-tips-content {
    background-color: white;
    padding: 5px;
  }
}

@include tips-arrow-direction-horiz('top', $horiz-arrow-offset-horiz);
@include tips-arrow-direction-horiz('bottom', $horiz-arrow-offset-horiz);

@include tips-arrow-direction-vert('left', $horiz-arrow-offset-vert);
@include tips-arrow-direction-vert('right', $horiz-arrow-offset-vert);
